@import "variables", "dir-mixins", "settings", "classes";

.card-img {
  height: 200px;
  width: 25%;
  padding: 10px;
  position: relative;
  @media (max-width: $screen-md) {
    height: 120px;
    padding: 5px;
  }
  @media (max-width: $screen-xs) {
    height: 85px;
  }
  @media (max-width: $screen-xxs) {
    height: 70px;
  }
  .img-gellary {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    @media (max-width: $screen-xs) {
      border-radius: 5px;
    }
  }
}

.masonry-layout {
  display: flex;
  .container {
    display: flex;
    flex-flow: column wrap;
  }
  .masonry-content .wrap-first {
    display: flex;
    flex-flow: column wrap;
    max-height: 480px;
    margin-bottom: 20px;
    @media (max-width: $screen-xs) {
      max-height: 300px;
    }
    @media (max-width: $screen-xxs) {
      max-height: 220px;
    }
    .card-img {
      border-radius: 20px;
      &:nth-child(1) {
        height: 100%;
        width: 50%;
      }

      &:nth-child(2) {
        height: 50%;
        width: 50%;
        // flex-grow: 1;
      }

      &:nth-child(3) {
        height: 50%;
        width: 50%;
        // flex-grow: 1;
      }
    }
  }
  .masonry-content .wrap-section {
    display: flex;
    flex-wrap: wrap;
  }
}

.masonry-content {
  display: flex;
  flex-flow: column wrap;
}

.mainsection {
  overflow: hidden;
  clear: both;
  .gallery-img {
    #{$ltr} & {
      float: left;
    }
    #{$rtl} & {
      float: right;
    }
    padding: 10px;
    height: 200px;
    width: 25%;
    @media (max-width: $screen-xs) {
      padding: 5px;
      height: 100px;
    }
    @media (max-width: $screen-xxs) {
      height: 80px;
    }
    &:first-child {
      width: 50%;
      height: 360px;
      @media (max-width: $screen-xs) {
        height: 260px;
      }
      @media (max-width: $screen-xxs) {
        height: 200px;
      }
    }
    &:nth-child(2) {
      width: 50%;
      height: 180px;
      @media (max-width: $screen-xs) {
        height: 130px;
      }
      @media (max-width: $screen-xxs) {
        height: 100px;
      }
    }
    &:nth-child(3) {
      width: 50%;
      height: 180px;
      @media (max-width: $screen-xs) {
        height: 130px;
      }
      @media (max-width: $screen-xxs) {
        height: 100px;
      }
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.notif-icon {
  animation: mymove 1.5s infinite;
  @include dir-margin-right(25px);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid #fff;
  @media (max-width: $screen-xs) {
    width: 35px;
    height: 35px;
    @include dir-margin-right(10px);
  }
  &::before {
    content: attr(data-number);
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #085a47;
    color: #fff;
    top: -3px;
    @include dir-left(-3px);
    font-size: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    @media (max-width: $screen-xs) {
      @include dir-left(-7px);
    }
  }
  i {
    font-size: 20px;
    color: #8a8f94;
  }
}
@keyframes mymove {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
.prof-card {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  @include dir-margin-right(15px);
  @media (max-width: $screen-md) {
    @include dir-margin-right(10px);
  }
  .prof-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    @include dir-margin-right(10px);
    @media (max-width: $screen-xs) {
      @include dir-margin-right(0);
      width: 40px;
      height: 40px;
    }
  }
  .hint {
    color: #fff;
    font-size: 14px;
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
}

.drp-prof {
  .dropdown-menu {
    max-height: 220px;
    min-height: max-content;
    overflow-y: auto;
    padding: 10px 0;
    border: 0;
    box-shadow: 0 0 2px #085a47;
    &::-webkit-scrollbar {
      width: 3px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: #085a47;
      border-radius: 3px;
      height: 20px;
    }

    &::-webkit-scrollbar {
      height: 1px;
      transition: 0.3s;
      background-color: #fff;
      @media (max-width: $screen-md) {
        height: 1px;
      }
    }
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #085a47;
      position: absolute;
      @include dir-right(20px);
      top: -2px;
    }
    .dropdown-item {
      padding: 5px 10px;
      .img {
        height: 16px;
        object-fit: cover;
        width: 15px;
        @include dir-margin-right(10px);
      }
      .hint {
        font-size: 14px;
        color: #545454;
      }
    }
  }
}

.pag-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  flex-wrap: wrap;
  @media (max-width: $screen-xs) {
    flex-direction: column;
  }
  .result {
    font-size: 14px;
    color: #202020;
    @media (max-width: $screen-xs) {
      margin-bottom: 10px;
    }
  }
  .pagination {
    .page-item {
      padding: 10px 15px;
      border-radius: 50%;
      border: 1px solid #f3f3f3;
      cursor: pointer;
      @media (max-width: $screen-xs) {
        font-size: 15px;
        padding: 5px 10px;
      }
      &:not(:last-child) {
        @include dir-margin-right(10px);
        @media (max-width: $screen-xs) {
          @include dir-margin-right(5px);
        }
      }
      &:first-child,
      &:last-child {
        background-color: #f3f3f3;
        width: 40px;
        height: 40px;
        overflow: hidden;
        transition: 0.3s;
        font-size: 18px;
        @media (max-width: $screen-xs) {
          width: 33px;
          height: 33px;
        }
        &:hover {
          background-color: #3baeaa;
          .page-link {
            color: #fff;
          }
        }
        .page-link {
          color: #8a8a8a;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }

    .page-link {
      border: none !important;
      background: transparent;
      color: #184a1f;
      padding: 0;
      box-shadow: none;
      &:not(:last-child) {
        display: none;
      }
    }

    .pg-link {
      transition: 0.3s all ease-in-out;
      &.active,
      &:hover {
        background-color: #3baeaa;
        .page-link {
          color: #fff;
        }
      }
    }
  }
}

.home-banner {
  margin-bottom: 50px;
  background-size: cover;
  position: relative;
  &.with-overlay {
    &::before {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 30%);
      content: "";
      top: 0;
      @include dir-right(0);
      position: absolute;
      pointer-events: none;
    }
  }
  .banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
    top: 0;
    @include dir-right(0);
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 30px;
  }
  .banner-text {
    padding-bottom: 50px;
    padding-top: 40px;
    position: relative;
    @media (max-width: $screen-xs) {
      padding-bottom: 30px;
    }
    .title {
      font-size: 30px;
      color: #fff;
      margin-bottom: 15px;
      font-weight: bold;
      @media (max-width: $screen-xs) {
        font-size: 20px;
      }
    }
    .sub-title {
      font-size: 20px;
      color: #fff;
      .icon {
        @include dir-margin-right(10px);
      }
      @media (max-width: $screen-xs) {
        font-size: 14px;
      }
    }

    .hint-info {
      font-size: 18px;
      color: #fff;
      margin-bottom: 15px;
      @media (max-width: $screen-xs) {
        margin-bottom: 10px;
        font-size: 15px;
      }
      .center-hint {
        margin: 0 10px;
      }
    }
  }
}

.main-text {
  margin-bottom: 40px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  &.visitors-text {
    display: block;
    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  @media (max-width: $screen-xs) {
    align-items: flex-start;
    flex-direction: column;
  }
  .title {
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
    @media (max-width: $screen-xs) {
      font-size: 21px;
    }
  }
  .disc {
    font-size: 17px;
    color: #6a6a6a;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width: $screen-xs) {
      font-size: 16px;
    }
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 30px;
  }
  .show-more {
    margin-top: 12px;
  }
}

.show-more {
  min-width: 200px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d1d1;
  color: #085a47 !important;
  font-size: 16px;
  border-radius: 5px;
  @media (max-width: $screen-xs) {
    min-width: 150px;
    font-size: 15px;
  }
}

.banner-filter {
  padding: 15px;
  background-color: rgba(0, 0, 0, 46%);
  position: relative;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $screen-xs) {
      flex-direction: column;
    }
  }
  .main-search-input {
    @include dir-margin-right(30px);
    flex-grow: 2;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    @media (max-width: 430px) {
      width: 100%;
      margin-bottom: 12px;
      @include dir-margin-right(0);
    }
    .input {
      width: 100%;
      height: 45px;
      background-color: transparent;
    }
    .icon-filter {
      color: #085a47;
      font-size: 20px;
      flex-shrink: 0;
      background-color: transparent;
    }
  }
}

.box-item {
  margin-bottom: 50px;
  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 30px;
  }
  .img-gallery {
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    @media (max-width: $screen-md) {
      height: 250px;
    }
    @media (max-width: $screen-xs) {
      height: 200px;
    }
    @media (max-width: 375px) {
      height: 170px;
    }
  }
}

.evaluation-sec {
  margin-bottom: 10px;
  align-items: center;
  @media (max-width: $screen-xxs) {
    flex-direction: column;
    align-items: flex-start;
  }
  .hint-rate {
    font-size: 15px;
    color: #6a6a6a;
    margin-top: 5px;
  }
}

.rateYo {
  @include dir-margin-right(10px);
  @media (max-width: $screen-xxs) {
    @include dir-margin-right(0);
  }
  .jq-ry-normal-group svg {
    fill: white;
    stroke: #ffc107;
    stroke-width: 20;
  }
  .jq-ry-rated-group svg {
    fill: #ffc107;
    stroke: white;
    stroke-width: 20;
  }
}

.banner-store {
  position: relative;
  padding-top: 50px;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px;
  @media (max-width: $screen-xs) {
    padding: 0;
  }
  &::before {
    content: "";
    @include dir-right(0);
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 41%);
    pointer-events: none;
    position: absolute;
  }
  .info {
    padding: 35px 0;
    .title {
      font-size: 30px;
      color: #fff;
      margin-bottom: 20px;
      @media (max-width: $screen-xs) {
        font-size: 24px;
      }
    }
    .disc {
      font-size: 20px;
      color: #fff;
      margin-bottom: 50px;
      @media (max-width: $screen-xs) {
        font-size: 17px;
        margin-bottom: 25px;
      }
    }
    .btn-store {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .store-img {
        min-width: 210px;
        height: 70px;
        border-radius: 6px;
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
        @media (max-width: $screen-xs) {
          min-width: 180px;
          height: 55px;
        }
        &:not(:last-child) {
          @include dir-margin-right(15px);
          @media (max-width: 375px) {
            @include dir-margin-right(0);
          }
        }
      }
    }
  }

  .img-frame {
    padding: 23px 20px 0;
    border-radius: 35px 25px 0 0;
    background-color: #e5e5e5;
    overflow: hidden;
    width: 370px;
    height: 520px;
    @include dir-margin-left(auto);
    @media (max-width: $screen-md) {
      margin: 0 auto;
    }
    @media (max-width: 375px) {
      width: 100%;
      height: 380px;
    }
    .screen-app {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }
}

.box-info {
  margin-bottom: 50px;
  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 30px;
  }
  .img-info {
    padding: 12px 15px;
    background: #e5eeec;
    border-radius: 6px;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .img {
      height: 31px;
      object-fit: cover;
    }
  }
  .title {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .disc {
    font-size: 15px;
    color: #828282;
  }
}

.layout-page {
  display: flex;
}

.right-side {
  flex-basis: 40%;
  position: sticky;
  @include dir-left(0);
  top: 0;
  height: 100vh;
  align-self: flex-start;
  background-color: #085a47;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $screen-xs) {
    flex-basis: auto;
    width: 100%;
  }
  .main-logo {
    height: 270px;
    object-fit: cover;
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
}
.left-side {
  padding: 100px 50px 20px;
  flex-basis: 60%;
  @media (max-width: $screen-xs) {
    flex-basis: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    padding: 50px 15px 0;
  }
  form {
    width: 70%;
    margin: inherit;
    @media (max-width: $screen-xl) {
      width: 100%;
    }
  }
  @media (max-width: $screen-xs) {
    .t-center,
    .label,
    .f-password,
    .new-sign,
    a {
      color: #fff;
    }
    .t-center {
      font-size: 17px;
    }
    .main-btn {
      background-color: #fff;
      color: #085a47;
    }
  }
}

.foot-img {
  position: fixed;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    @media (max-width: $screen-xs) {
      height: 130px;
    }
  }
}

// start to add-your-location
.layout_map {
  height: 300px;
  @media (max-width: $screen-xs) {
    height: 250px;
  }
  border-radius: 6px;
  .gm-style-iw.gm-style-iw-c {
    padding: 15px !important;
  }

  img[src="img/marker-img.png"] {
    object-fit: contain;
    width: 35px !important;
    height: 35px !important;
    @media (max-width: $screen-xs) {
      width: 35px !important;
      height: 35px !important;
    }
  }
}

.form-group {
  margin-bottom: 30px;
}

.btn-map {
  cursor: pointer;
}

.modal-cart {
  .modal-dialog {
    max-width: 550px;
  }
}

.accept-check {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:not(:last-child) {
    @include dir-margin-right(20px);
    @media (max-width: $screen-md) {
      @include dir-margin-right(15px);
    }
  }
  .box-check:checked + .check-inner .span-check {
    background-color: #085a47;
    border-color: #085a47;
    @media (max-width: $screen-xs) {
      border-color: #fff;
      background-color: #fff;
    }
    i {
      display: block;
    }
  }
  .box-check:checked + .check-inner .hint-inner-text {
    color: #191919;
  }
  .check-inner {
    display: flex;
    align-items: center;
    .span-check {
      width: 20px;
      height: 20px;
      transition: all 0.3s;
      @include dir-margin-right(8px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #868686;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      i {
        display: none;
        color: #fff;
        font-size: 11px;
        @media (max-width: $screen-xs) {
          color: #085a47;
        }
      }
    }
    .hint,
    a {
      font-size: 16px;
      color: #4c5264;
      font-weight: bold;
    }
  }
  .box-check:checked + .radio-inner .hint-radio .check-color {
    display: none;
  }
  .hint-inner-text {
    font-size: 19px;
    color: #737373;
  }
  .check-btn {
    margin-bottom: 0;
  }
  &.main-accept {
    .span-check {
      @include dir-margin-right(15px);
    }
    .hint-inner-text {
      color: #ababab;
      font-size: 16px;
    }
    .link {
      @include dir-margin-left(3px);
      color: #085a47;
      font-weight: 600;
      text-decoration: underline !important;
      @media (max-width: $screen-xs) {
        color: #fff;
      }
    }
  }
}

.check-inner {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  .hint-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #085a47;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    // @include dir-margin-right(18px);
    .radio-body {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #085a47;
      display: block;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      opacity: 0;
      @media (max-width: $screen-xs) {
        width: 8px;
        height: 8px;
      }
    }
    @media (max-width: $screen-xs) {
      width: 18px;
      height: 18px;
    }
  }
  .hint-text {
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    @media (max-width: $screen-xl) {
      font-size: 15px;
    }
    .dollar-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: cover;
      @include dir-margin-right(10px);
    }
  }
}

.inner-radio {
  [type="radio"]:checked + .check-inner .hint-inner .radio-body {
    opacity: 1;
  }
  [type="radio"]:checked + .check-inner .hint-text {
    color: #000;
  }

  .disc-radio {
    margin-top: 10px;
    @include dir-margin-left(36px);
    display: block;
    font-size: 16px;
    color: #737373;
  }
}

.verify-code {
  .main-input {
    flex-wrap: wrap;
  }
  .verify-input {
    width: 50px;
    background-color: transparent;
    &::placeholder {
      color: #b3abb3;
      font-size: 13px;
    }
  }
}

.dropdown-select-2 {
  padding: 10px 15px;
  margin-top: 5px;
  border: 0;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 16%);
  text-align: center;
  .select2-results {
    .select2-results__options {
      height: 140px;
      &::-webkit-scrollbar {
        width: 3px !important;
      }
      &::-webkit-scrollbar-thumb {
        background: #085a47;
        border-radius: 3px;
        height: 20px;
      }

      &::-webkit-scrollbar {
        height: 1px;
        transition: 0.3s;
        background-color: #fff;
        @media (max-width: $screen-md) {
          height: 1px;
        }
      }
      li {
        border-radius: 4px;
        margin: 0 8px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:not(:first-child) {
          background-color: #f5f5f5;
        }
        &.select2-results__option--highlighted {
          background-color: #085a47 !important;
        }
      }
    }
  }
}

.with-hint-text {
  .input {
    background-color: transparent;
  }
}

.fancybox-thumbs__list {
  a {
    &::before {
      border: 3px solid #085a47;
    }
  }
}

// fancybox-img style
.masonry-content {
  .wrap-section {
    .card-img {
      counter-increment: img;
      content: counter(img);
      content: "";
      position: relative;
      &:last-child {
        overflow: hidden;
      }
      &:last-child::after {
        content: counter(img) " " " صورة ";
        position: absolute;
        @include dir-right(50%);
        top: 50%;
        color: #fff;
        font-size: 20px;
        #{$ltr} & {
          transform: translate(50%, -50%);
        }
        #{$rtl} & {
          transform: translate(-50%, -50%);
        }
        @media (max-width: $screen-md) {
          font-size: 16px;
        }
        @media (max-width: $screen-xs) {
          font-size: 13px;
        }
        @media (max-width: $screen-xxs) {
          font-size: 11px;
        }
      }
      &:last-child::before {
        content: "";
        position: absolute;
        @include dir-right(10px);
        top: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-color: rgba(0, 0, 0, 70%);
        border-radius: 10px;
        pointer-events: none;
        @media (max-width: $screen-md) {
          @include dir-right(5px);
          top: 5px;
          width: calc(100% - 10px);
          height: calc(100% - 10px);
        }
      }
    }
  }
}

.main-services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
  @media (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}
.item-services {
  min-width: 70px;
  margin-bottom: 40px;
  text-align: center;
  &:not(:last-child) {
    @include dir-margin-right(80px);
    @media (max-width: $screen-xxl) {
      @include dir-margin-right(60px);
    }
    @media (max-width: $screen-md) {
      @include dir-margin-right(40px);
    }
    @media (max-width: $screen-xs) {
      @include dir-margin-right(35px);
      min-width: 50px;
    }
  }
  .img {
    max-width: 60px;
    max-height: 45px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
  }
}

.choosing-rooms {
  background-color: #085a47;
  padding: 50px 20px 30px;
  margin-bottom: 50px;
  @media (max-width: $screen-xs) {
    padding: 35px 20px 30px;
  }
  .main-btn {
    background-color: #fff;
    color: #085a47;
  }
}

.calender-box {
  display: flex;
  margin-bottom: 65px;
  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
  .hint-icon {
    padding: 12px 15px;
    background: #e5eeec;
    border-radius: 6px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 30px;
    @include dir-margin-right(20px);
    color: #085a47;
    @media (max-width: $screen-xs) {
      width: 60px;
      height: 60px;
      font-size: 24px;
    }
  }
  .input-dt-arrow {
    display: flex;
    align-items: center;
  }
  .sec-date {
    .text {
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px;
      @media (max-width: $screen-xs) {
        font-size: 17px;
      }
    }
  }
  .input-date {
    color: #fff;
    @media (max-width: $screen-xs) {
      font-size: 14px;
    }
  }
  .icon {
    color: #fff;
    transition: 0.4s;
    @media (max-width: $screen-xs) {
      font-size: 15px;
    }
  }
  .flatpickr-input.active + .icon {
    transform: rotate(180deg);
  }
}

.nm-visitors {
  display: flex;
  align-items: center;
  .icon {
    font-size: 24px;
    @include dir-margin-right(5px);
    color: #085a47;
  }
  .hint {
    font-size: 19px;
    color: #085a47;
  }
}

.room-details {
  margin-bottom: 50px;
  .calender-box {
    align-items: center;
    margin-bottom: 40px;
    .hint-icon {
      background-color: #085a47;
      flex-shrink: 0;
      .shape-img {
        width: 31px;
        min-height: 30px;
        max-height: 40px;
        object-fit: cover;
      }
    }
    .text {
      color: #9c9c9c;
    }
    .text,
    .hint-stat {
      font-size: 17px;
    }
    .hint-stat {
      color: #545454;
    }
  }
}

.text-alert {
  padding: 25px 15px;
  background-color: #e9e9e9;
  .title {
    font-size: 18px;
    margin-bottom: 5px;
    color: #ff0000;
  }
  .disc {
    font-size: 15px;
    color: #000000;
  }
}
.main-progress {
  display: flex;
  align-items: center;
  .progress-hint {
    width: 380px;
    max-width: 100%;
    height: 15px;
    border-radius: 13px;
    background-color: #fff;
    position: relative;
    &::before {
      content: "";
      width: 60%;
      height: 100%;
      @include dir-right(15%);
      position: absolute;
      background-color: red;
    }
    .hint {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      margin-top: -5px;
      width: max-content;
    }
  }

  .disc {
    @include dir-margin-right(15px);
    flex-shrink: 0;
  }
}

.main-section-table,
.payment-layout {
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 16%);
  margin-bottom: 50px;
  background-color: #f3f3f3;
  @media (max-width: $screen-xs) {
    margin-bottom: 35px;
  }
  .custom-table {
    margin-bottom: 0;
    background: #f3f3f3;
    width: 100%;
  }
  .thead-bg-cl {
    color: #fff;
    background-color: #f3f3f3;
    tr {
      background-color: #f3f3f3;
      th {
        background-color: #f3f3f3;
        color: #262626;
      }
    }
    th {
      border: 0;
      padding: 20px;
      font-size: 18px;
      @media (max-width: $screen-xs) {
        font-size: 16px;
      }
    }
    td {
      font-size: 15px;
    }
  }
  tbody {
    td,
    th {
      font-size: 17px;
      vertical-align: middle;
      white-space: nowrap;
      // padding: 0.75rem;
      padding: 20px;
      border-top: 1px solid #dee2e6;
    }
  }
  th {
    white-space: nowrap;
  }

  .disc-rooms {
    .hint {
      color: #000;
      font-size: 17px;
      margin-bottom: 5px;
    }
    .disc {
      font-size: 15px;
      color: #9c9c9c;
      font-weight: 500;
    }
  }
}

.py-title {
  border: 0;
  padding: 20px;
  font-size: 18px;
  border-bottom: 1px solid rgba(112, 112, 112, 33%);
  margin-bottom: 20px;
  color: #2d2d2d;
  font-weight: 600;
  &.without-br {
    border-bottom: 0;
  }
  @media (max-width: $screen-xs) {
    font-size: 16px;
  }
}

.payment-box {
  padding: 15px;
  margin: 0 20px 30px;
  background: #fff;
  border-radius: 9px;
}
.payment-text {
  padding: 50px;
  text-align: center;
  @media (max-width: $screen-xs) {
    padding: 20px;
  }

  .payment-img {
    max-width: 377px;
    max-height: 309px;
    object-fit: cover;
    margin-bottom: 35px;
    @media (max-width: $screen-md) {
      max-width: 250px;
      max-height: 190px;
    }
    @media (max-width: $screen-xs) {
      max-width: 160px;
      max-height: 130px;
      margin-bottom: 20px;
    }
  }
  .title {
    font-size: 25px;
    color: #000;
    margin-bottom: 10px;
    @media (max-width: $screen-xs) {
      font-size: 22px;
    }
  }
  .disc {
    font-size: 20px;
    color: #9c9c9c;
    @media (max-width: $screen-xs) {
      font-size: 16px;
    }
  }

  .hint-disc {
    font-size: 15px;
    color: #5b5b5b;
  }
}

.payment-done {
  padding: 10px 30px 20px;
  @media (max-width: $screen-md) {
    padding: 10px;
  }
  .main-text {
    text-align: center;
    .disc {
      color: #000;
    }
  }
}

.bakkh-levels {
  box-shadow: 0 0 99px rgba(0, 0, 0, 16%);
  border-radius: 2px;
  margin-bottom: 70px;
  @media (max-width: $screen-md) {
    margin-bottom: 50px;
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 30px;
  }
  overflow: hidden;
  .top {
    padding: 25px;
    background-color: #8f8f8f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $screen-xs) {
      padding: 20px 15px;
    }
    &.active {
      background-color: #085a47;
    }
    .text {
      .title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 12px;
      }
      .disc {
        font-size: 15px;
        color: #fff;
      }
    }
    .prof-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .padlock-img {
      max-width: 40px;
      height: 53px;
      object-fit: cover;
    }
  }

  .bottom {
    padding: 30px 15px;
    background-color: #fff;
    @media (max-width: $screen-xs) {
      padding: 20px 15px;
    }
    .sub-text {
      margin-bottom: 30px;
      .title {
        font-size: 17px;
        color: #000;
        margin-bottom: 12px;
        @media (max-width: $screen-xs) {
          font-size: 15px;
        }
      }
      .hint {
        font-size: 14px;
        color: #9c9c9c;
        @media (max-width: $screen-xs) {
          font-size: 14px;
        }
      }
    }

    .card-disc {
      &::-webkit-scrollbar {
        width: 3px !important;
      }
      &::-webkit-scrollbar-thumb {
        background: #085a47;
        border-radius: 3px;
        height: 20px;
      }

      &::-webkit-scrollbar {
        height: 1px;
        transition: 0.3s;
        background-color: #fff;
        @media (max-width: $screen-md) {
          height: 1px;
        }
      }
      height: 270px;
      overflow-y: auto;
      @media (max-width: $screen-xl) {
        height: 240px;
      }
      @media (max-width: $screen-md) {
        height: 205px;
      }
      @media (max-width: $screen-xs) {
        height: 160px;
      }
      .item {
        display: flex;
        &:not(:last-child) {
          // margin-bottom: 20px;
          @media (max-width: $screen-xs) {
            // margin-bottom: 20px;
          }
        }
      }
      .discount-img {
        width: 32px;
        height: 32px;
        @include dir-margin-right(12px);
        object-fit: cover;
        @media (max-width: $screen-xs) {
          width: 25px;
          height: 25px;
          @include dir-margin-right(8px);
        }
      }
    }
  }
}

.bakkah_info {
  text-align: center;
  margin-bottom: 35px;
  .bakkah-img {
    max-width: 110px;
    max-height: 110px;
    object-fit: cover;
    margin-bottom: 18px;
  }
  .disc {
    font-size: 20px;
    color: #000;
  }
}

.notifications {
  background-color: #f2f2f2;
  padding: 50px;
  margin-bottom: 50px;
  @media (max-width: $screen-xs) {
    padding: 20px 15px;
  }
  .col-12 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .notification {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    @media (max-width: $screen-xs) {
      padding: 15px;
    }
    display: flex;
    .icon {
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #085a47;
      color: #fff;
      font-size: 22px;
      border-radius: 50%;
      flex-shrink: 0;
      @include dir-margin-right(30px);
      @media (max-width: $screen-xs) {
        width: 45px;
        height: 45px;
        @include dir-margin-right(15px);
        font-size: 18px;
      }
    }
    .text {
      .title {
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
        @media (max-width: $screen-xs) {
          font-size: 15px;
        }
      }
      .time {
        font-size: 15px;
        color: #7e7e7e;
        @media (max-width: $screen-xs) {
          font-size: 13px;
        }
      }
    }
  }
}

.order-tabs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  .order-status {
    width: 50%;
    &:not(:last-child) {
      @include dir-margin-right(40px);
      @media (max-width: $screen-xs) {
        @include dir-margin-right(15px);
      }
    }
    .anchor {
      background-color: #fff;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-size: 20px;
      border-radius: 2px;
      @media (max-width: $screen-xs) {
        font-size: 14px;
        padding: 15px 10px;
      }
      &.active {
        background-color: #085a47;
        color: #fff;
      }
    }
  }
}
.order-content {
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media (max-width: $screen-xs) {
    flex-direction: column;
    padding: 15px 10px !important;
  }
  .order-img {
    width: 90px;
    height: 90px;
    border-radius: 7px;
    @include dir-margin-right(25px);
    object-fit: cover;
    @media (max-width: $screen-xs) {
      width: 65px;
      height: 65px;
      @include dir-margin-right(0);
      margin-bottom: 15px;
    }
  }
  .top-text {
    margin-bottom: 15px;
    .right {
      font-size: 21px;
      color: #000;
      @media (max-width: $screen-xs) {
        font-size: 15px;
      }
    }
    .left {
      font-size: 17px;
      color: #7e7e7e;
      @media (max-width: $screen-xs) {
        font-size: 13px;
      }
    }
  }
  .top-text,
  .bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bottom-text {
    .right,
    .left {
      font-size: 17px;
      color: #7e7e7e;
      @media (max-width: $screen-xs) {
        font-size: 13px;
      }
      .hint {
        color: #000;
      }
    }
  }
}

.text-area-modal {
  padding: 20px;
  min-height: 160px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  width: 100%;
  resize: none;
  margin-top: 15px;
  @media (max-width: $screen-xs) {
    min-height: 130px;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.title-form {
  font-size: 22px;
  color: #000;
  margin-bottom: 30px;
  font-weight: 600;
  @media (max-width: $screen-xs) {
    font-size: 19px;
    margin-bottom: 20px;
  }
}

.profile-upload-img {
  .inner {
    width: 160px;
    height: 160px;
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    padding: 10px;
    @include dir-right(50%);
    border-radius: 50%;
    text-align: center;
    #{$ltr} & {
      transform: translateX(50%);
    }
    #{$rtl} & {
      transform: translateX(-50%);
    }
    @media (max-width: $screen-md) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: $screen-xs) {
      width: 125px;
      height: 125px;
    }
    .img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      @include dir-right(0);
      font-size: 22px;
      color: #085a47;
      #{$ltr} & {
        transform: translate(50%, -50%);
      }
      #{$rtl} & {
        transform: translate(-50%, -50%);
      }
      @media (max-width: $screen-xs) {
        width: 40px;
        height: 40px;
        font-size: 19px;
      }
    }
    .hint-text {
      padding-top: 15px;
      color: #2a2a2a;
      font-size: 16px;
      @media (max-width: $screen-xs) {
        font-size: 13px;
      }
    }
  }
}

.pt-preview-form {
  padding-top: 110px;
}
.inp-map {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.main-btns-sec {
  @media (max-width: $screen-xs) {
    flex-wrap: wrap;
    justify-content: center;
    .order-status {
      &:not(:last-child) {
        @include dir-margin-right(0px);
        margin-bottom: 15px !important;
      }
    }
  }
}

.dropdown-select-3 {
  padding: 10px 15px;
  min-width: 330px !important;
  margin-top: 5px;
  border: 0;
  top: 20px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 16%);
  text-align: center;
  @include dir-right(50%);
  #{$ltr} & {
    transform: translateX(-10px);
    @media (max-width: $screen-xs) {
      transform: translateX(-15%);
    }
  }
  #{$rtl} & {
    transform: translateX(-15%);
    @media (max-width: $screen-xs) {
      transform: translateX(-15%);
    }
  }

  @media (max-width: $screen-xs) {
    min-width: 260px !important;
  }
  @media (max-width: 375px) {
    min-width: 200px !important;
  }
  .select2-results {
    .select2-results__options {
      max-height: 285px;
      &::-webkit-scrollbar {
        width: 3px !important;
      }
      &::-webkit-scrollbar-thumb {
        background: #085a47;
        border-radius: 3px;
        height: 20px;
      }

      &::-webkit-scrollbar {
        height: 1px;
        transition: 0.3s;
        background-color: #fff;
        @media (max-width: $screen-md) {
          height: 1px;
        }
      }
      li {
        border-radius: 4px;
        margin: 0 8px;
        padding: 12px 10px !important;
        @media (max-width: $screen-xs) {
          font-size: 14px;
          padding: 8px 6px !important;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:not(:first-child) {
          background-color: #f5f5f5;
        }
        &.select2-results__option--highlighted {
          background-color: #085a47 !important;
        }
      }
    }
  }
}

.prayer-date {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #e8f0ee;
  border-radius: 2px;
  margin-bottom: 40px;
  min-height: 70px;
  .title {
    font-size: 22px;
    color: #505050;
    @include dir-margin-right(20px);
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .top {
      margin-bottom: 5px;
    }
    .top,
    .bottom {
      font-size: 15px;
      color: #085a47;
    }
    .icon {
      font-size: 23px;
      color: #085a47;
    }
  }
}

.sec-prayers {
  padding: 40px 40px 0;
  justify-content: center;
  background-color: #f2f2f2;
  margin-bottom: 50px;
  @media (max-width: $screen-xs) {
    padding: 20px 20px 0;
  }
  .prayers {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 40px;
    @media (max-width: $screen-md) {
      margin-bottom: 30px;
    }
    @media (max-width: $screen-xs) {
      margin-bottom: 20px;
    }
    .img-hint {
      display: flex;
      align-items: center;
      .pry-img {
        max-width: 51px;
        max-height: 34px;
        object-fit: cover;
        @include dir-margin-right(18px);
        @media (max-width: $screen-xs) {
          max-width: 30px;
        }
      }
    }
    .hint, .time {
      color: #505050;
      font-size: 15px;
      display: flex;
    align-items: center;
    }
  }
}

.text-umrah {
  font-size: 17px;
  color: #000;
  line-height: 2;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.done-gif-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  @media (max-width: $screen-xs) {
    width: 100px;
    height: 100px;
  }
}

.start-gif {
  width: 150px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 10px;
}